{
  "$schema": "http://json.schemastore.org/prettierrc",
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "overrides": [
    {
      "files": "**/*.(md|mdx)",
      "options": {
        "printWidth": 80,
        "proseWrap": "always"
      }
    }
  ]
}
