/* custom overrides for comentario */
.comentario-footer {
  display: none !important;
}

.comentario-add-comment-host {
  border: 1px solid theme("colors.gray.800") !important;
}

comentario-comments[theme="dark"] {
  --cmntr-bg: theme("colors.card.background") !important;
  --cmntr-bg-highlight: theme("colors.card.background") !important;
  --cmntr-muted-color: theme("colors.gray.400") !important;
  --cmntr-btn-bg: theme("colors.blue.400") !important;
}
