---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import BlogCard from "../components/cards/BlogCard.astro";
import SmallBlogCard from "../components/cards/SmallBlogCard.astro";
import BlogCardsContainer from "../components/solid/BlogCardsContainer";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import RootLayout from "../layouts/RootLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const featured = posts.pop();
---

<!doctype html>
<RootLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header />
  <main class="max-w-3xl px-4 mx-auto">
    <section>
      <BlogCardsContainer client:load>
        <h1 class="text-2xl font-bold">Latest Post</h1>
        {featured && <BlogCard blog={featured} />}

        <h1 class="text-2xl font-bold mt-4">Older posts</h1>
        {posts.map((post) => <SmallBlogCard blog={post} />)}
      </BlogCardsContainer>

      <ul class="space-y-4"></ul>
    </section>
  </main>
  <Footer />
</RootLayout>
