---
const today = new Date();
import { Icon } from "astro-icon/components";
---

<footer class="py-8 flex flex-col mx-auto text-center items-center">
  &copy; {today.getFullYear()} Derock X. All rights reserved.
  <div class="flex flex-row gap-4">
    <a href="https://derock.dev/?ref=blog" target="_blank">
      <span class="sr-only">Go to Derock's Website</span>
      <Icon name="mdi:web" size={32} />
    </a>

    <a href="https://discord.gg/Fbm7AeazHQ" target="_blank">
      <span class="sr-only">Join Derock's Discord</span>
      <Icon name="fa6-brands:discord" size={32} />
    </a>

    <a href="https://twitter.com/derockgamer" target="_blank">
      <span class="sr-only">Follow Derock on Twitter</span>
      <Icon name="fa6-brands:x-twitter" size={32} />
    </a>

    <a href="https://github.com/ItzDerock" target="_blank">
      <span class="sr-only">Go to Derock's GitHub repo</span>
      <Icon name="fa6-brands:github" size={32} />
    </a>
  </div>
</footer>
